@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    border-radius: 10px;
    max-width: 300px;
    position: relative;
    height: 160px;
    background: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column; 
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 420px;

}

.container .card .imgbx {
    border-radius: 10px;
    position: relative;
    width: 260px;
    top: -60px;
    left: 14px;
    z-index: 1;
    box-shadow:  0 5px 20px rgba(0,0,0,0.2);

}

.container .card .imgbx img {
    max-width: 100%;
    border-radius: 10px;

}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}